.container {
    display: flex;
    align-items: center;
}

.description_container {
    display: flex;
    flex-direction: column;
    color: var(--dark-grayish-blue);
}

.thumbnail {
    width: 3.5em;
    height: 3.5em;
    margin: 1.5em;
    border-radius: 5px;
}

.title {
    margin-bottom: 0.3em;
}

.bold {
    color: var(--very-dark-blue);
    font-weight: 700;
}

.icon_delete {
    margin-left: auto;
    margin-right: 1.5em;
    cursor: pointer;
}

@media screen and (min-width: 761px) {
    .thumbnail {
        height: 48px;
        width: 48px;
        margin-right: 0.5em;
        margin-left: 1em;
    }

    .description_container {
        font-size: 14px;
    }

    .title {
        font-size: 14px;
    }

    .icon_delete {
        margin-right: 1em;
        margin-left: auto;
    }
}